#dc_graph{
    border: 1px solid #999999;
    border-radius: 10px;
    background-color: #E9E9E9;
}

#main_container{
    padding-top: 120px;
}

#graph_container{
    padding-right: 0px;
}

#form_container{
    padding-left: 0px;
    padding-top: 30px;
}

#form_container button{
    margin-top: 25px;
}

#form_container .form-group{
    padding-bottom: 5px;
}
#form_container .form-group label{
    font-size: 16px;
}

#simulation_container{
    padding-right: 0px;
    padding-left: 0px;
}

#pw1,#pw2,#pw3{
    height: 200px;
}

svg.radial-svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 120px;
    height: 150px;
    margin: auto;
    overflow: inherit;
}

svg.radial-svg .component .label{
    font-size: 100%;
    fill: #5A5A5A;
}

#gouge_container{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
}

.simulation_time{
    text-align: right;
    margin-bottom: 10px;
    font-size: 22px;
    padding-right: 0px;
}

#simulation_time label{
    padding-right: 5px;
}

.form-header{
    margin-top: 0px;
}


path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

marker#licensing {
    fill: green;
}

path.link.licensing {
    stroke: green;
}

path.link.resolved {
    stroke-dasharray: 0,2 1;
}

/*circle {*/
    /*/!*fill: #ccc;*!/*/
    /*stroke: #333;*/
    /*stroke-width: 0px;*/
/*}*/

text {
    /*font: 10px sans-serif;            \*/
    font-size: 16px;
    pointer-events: none;
}

text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

.grafic_container{
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.vm_status{
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 4px;
    position: absolute;
    left: 300px;
    top: 150px;
    background-color: #E1E0FF;
    display: none;
}

.vm_status .vm_status_area{
    height: 50%;
    width: 50%;
    float: left;
    position: relative;
}

.vm_status .vm_status_area span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vm_status .vm_status_area span.glyphicon-arrow-up {
    color: green;
    font-size: 24px;
}

.vm_status .vm_status_area span.glyphicon-arrow-down {
    color: red;
    font-size: 24px;
}

tr,th{
    text-align: center;
}

tr:nth-of-type(2n+1){
    background-color: #E9E9E9;
}

tr:nth-of-type(2n){
    background-color: white;
}

.index_link{
    display: table;
    margin: 0 auto;
}

.index_link h2{
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 18px;
}

.about_img{
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about_p{
    margin-top: 15px;
    margin-bottom: 10px;
}

.about_caption{
    text-align: center;
    font-size: 18px;
}

.about_container{
    padding-top: 80px;
    text-align: justify;
    font-size: 16px;
}