#dc_graph{
    border: 1px solid #999999;
    border-radius: 10px;
    background-color: #dedede;
}

#main_container{
    padding-top: 120px;
}

#graph_container{
    padding-right: 0px;
}

#form_container{
    padding-left: 0px;
}

#form_container button{
    margin-top: 25px;
}

#form_container .form-group{
    padding-bottom: 5px;
}
#form_container .form-group label{
    font-size: 16px;
}